<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>fttControl</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Control File Handling</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>fttMakefile</string>
			<key>isControler</key>
			<true/>
			<key>label</key>
			<string>Makefile Handling</string>
		</dict>
	</array>
	<key>title</key>
	<string>Flex to Theos settings by Randy420</string>
</dict>
</plist>
