Package: ru.rj.ftt
Name: Flex To Theos
Depends: mobilesubstrate, com.randy420.tools (>=2.2)
Architecture: iphoneos-arm
Description: First made by iPadkid358 - then updated by myself. Change Flex 3 patches into Theos projects using simple terminal commands. 
  
 - Use 'ftt -?' For a full list of options.
Depiction: https://Randy-420.GitHub.io/depic/ftt.html
Homepage: https://theemeraldisle.family
Maintainer: Randy420 <randy.skinner@hotmail.com>
Author: ipad_kid_Randy420 <ipadkid358@gmail.com, randy.skinner@hotmail.com>
Section: Utilities
Version: 0.8
Replaces: com.ipadkid.ftt, com.azmilaila.ftt, com.ceadd.flextotheosbyipadkid358, com.randy420.ipadkid.ftt
